*{
  background-color:#ffc196;
  font-family: Cambria, Garamond, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  border-bottom: 4px solid black;
  text-align:center;
  font-size: 3em
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}